@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@media screen and (min-width:480px) {
    body {
        background-color: rgb(185, 183, 183);
        color: white;
        font-family: 'Montserrat';
    }
}

* {
    margin: auto;
    box-sizing: border-box;
    /* background-color: rgb(20, 19, 19); */
    /* background-color: rgb(104, 101, 101); */

}

nav {
    height: 100px;
    background-color: rgb(59, 58, 58);
    /* border-bottom:2px solid black; */
    box-shadow: 2px 3px 5px rgb(160, 157, 157);
    position: fixed;
    overflow: hidden;
    width: 100%;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    float: right;
    padding: 40px;
    margin-right: 150px;

}

li {
    display: inline-block;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-right: 2px white;


}

li>a {
    padding: 8px;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

a:hover {

    text-decoration: underline;
    /* background-color:rgb(2, 31, 21); */

}

.gallery {
    display: flex;
    /* float: left; */
    justify-content: space-around;
}

.gallery>a>img {
    border: 3px solid green;
    border-radius: 50%;
}

.wrapper {
    background-color: #333;
    width: 80%
}

#welcome {
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#welcome>p {
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;

}

hr {
    width: 80%;

}

#tech {
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: aqua;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

#tech>p {
    color: white;
    font-family: 'ubuntu';

}

#tech>p>a {
    color: aqua;
    text-decoration: none;
}

#Register-card {
    background-color: rgb(99, 97, 97);
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;


}

input, select {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    padding: 10px;
    border-bottom: 4px solid rgb(3, 161, 43);
    border: none;

}

input:active {
    border: 3px solid aqua;
}

#Register-card>h2 {
    margin-top: 50px;
    font-size: 40px;
    text-decoration: underline;


}

form {
    color: orange;
    font-size: larger;
}

#recard {
    margin: 50px 200px 100px;
    border: 1px solid white;
    box-shadow: 8px 8px 7px grey;
    width: 32%;
    display: flex;
    flex-direction: column;

}

#recard>h2 {
    margin-top: 10px;
}

#submit {
    width: 40%;
    display: flex;
    align-items: center;
    color: orange;
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
}

footer {
    height: 10vh;
    background-color: rgb(23, 59, 49);
    display: flex;
    align-items: center;
    justify-content:center;
}
#photos{
    margin: 50px;
    background-color: rgb(179, 182, 182);
    display: flex;
    flex-direction: column;
}
#photos>h3{
    color:white;
}
#tiles{
    margin: 20px;
    display: flex;
    justify-content:center;
    padding: 20px;
}

#tiles>img{
    border: 1px solid white;
}
#tiles>img:hover{
    box-shadow: 0px 7px 5px 5px rgb(156, 154, 154);
}
